@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body    {
    font-family: 'Rubik', sans-serif;
}
.bodyInicio    {
    background-image: url(../assets/img/WSPtodo\ el\ mundo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bodyClub   {
    background-image: url(../assets/img/varela\ viejo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bodyGaleria    {
    background-image: url(../assets/img/WSP\ ABRA.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
.bodyContacto    {
    background-image: url(../assets/img/WSPFiesta.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
.cabecera   {
    background-image: radial-gradient(circle, #287e28, #227522, #1c6c1c, #156315, #0e5a0f, #08530e, #044d0c, #00460b, #00400d, #003a0e, #00340e, #002e0e);
}
.contenedorLogo {
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo   {
    width: 6.2rem;
}
.barra  {
    display: none;
  ;
}
.hamburguesa    {
    display: none;
}
.inicio     {
    height: 80vh;
}
.sombraInicio   {
    background-color: rgba(0, 0, 0, 0.363);  
}
.sombra {
    background-color: rgba(0, 0, 0, 0.76);    
}   
.titulo     {
    color: rgb(194, 194, 194);
}
.hoy    {
    background-image: url(../assets/img/Drive\ club.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    height: 80vh;
}
.formularioNormal {
    display: none;
    color: rgb(194, 194, 194);
    background-color: rgba(0, 0, 0, 0.658);
}
.formularioMedia {
    display: none;
    color: rgb(194, 194, 194);
    background-color: rgba(0, 0, 0, 0.658);
}
.hr{
    color: white;
}
.derechos   {
    color: rgb(194, 194, 194);
}
.iconos     {
    font-size: 3.5vh;
}
.galeriaMedia   {
    display: none;
}
.galeriaNormal  {
    display: none;
}
.mapa   {
    background-color: rgba(0, 0, 0, 0.658);
}
.mapasNormal     {
    display: none;
}
.mapasMedia  {
    display: none;
}
@media screen and (max-width: 991px) {
    .hamburguesa    {
        display: block;
    }
    .galeriaMedia    {
        display: block;
        height: 65vh;
    }
    .mapasMedia  {
        display: block;
        height: 80vh;
    }
    .formularioMedia    {
        display: block;
        width: 250px;
        height: 250px;
    }
    
}
@media screen and (min-width: 992px) {
    .barra    {
        display: block;
    }
    .galeriaNormal    {
        display: block;
    }
    .mapasNormal     {
        display: block;
        height: 70vh;
    }
    .formularioNormal   {
        display: block;
    }
    
}

    
    


   

    
