$header-imagen: radial-gradient(circle, #287e28, #227522, #1c6c1c, #156315, #0e5a0f, #08530e, #044d0c, #00460b, #00400d, #003a0e, #00340e, #002e0e);
$color-textos: rgb(194, 194, 194);

$sombras: (
    sombra1: rgba(0, 0, 0, 0.363),
    sombra2: rgba(0, 0, 0, 0.658),
    sombra3: rgba(0, 0, 0, 0.76)
)
